.projets-container {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  padding: 0 0 64px 0;
}

.projets-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.projets-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* dark overlay */
  z-index: 1;
}

.projets-content {
  position: relative;
  z-index: 2;
  padding: 32px 24px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

.projets-content h1 {
  font-weight: 800;
  font-size: 42px;
}

.projets-tout-projet-btn {
  height: fit-content;
  padding: 16px 24px;
  display: flex;
  font-weight: 700;
  font-size: 24px;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  border: 4px solid white;
  border-radius: 48px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.projets-tout-projet-btn:hover {
  background-color: white;
  color: black;
}

.slider-container {
  max-width: 1400px;
  width: 80%;
  padding : 20px;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}

.carousel-image-wrapper {
  overflow: hidden;
  border-radius: 12px;
  box-sizing: border;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  height: 510px;
  width: 300px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
}

/* Optional custom arrows */
.projets-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.projets-slider-btn-icon {
  width: 24px;
  height: 24px;
}

.slick-dots .slick-active .projets-slider-dots{
  opacity: 1 !important;
  background-color: white !important;
}

.projets-slider-dots{
  width: 28px;
  height: 28px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: var(--color-gray-light);
  transition: all 0.3s ease-in-out;
}

.projets-slider-dots:hover {
  background-color: var(--color-secondary);
}

.projets-slider-dots .active {
  background-color: white;
}


@media screen and (max-width : 1200px){
  .carousel-image {
    height: 400px;
    width: 300px;
  }

}

@media screen and (min-width : 1400px){
  .carousel-image {
    height: 550px;
    width: 410px;
  }

}


@media screen and (max-width: 768px) {
  .projets-content {
    width: 90%;
    padding: 24px 16px;
  }

  .projets-content h1 {
    font-size: 28px;
  }
  
  .projets-tout-projet-btn {
    font-size: 18px;
    padding: 12px 16px;
    gap: 16px;
  }
  
  .projets-tout-projet-btn > p {
    font-size: 14px;
  }
  
  .carousel-image {
    height: 300px;
    width: 210px;
  }
  
  .projets-slider-btn {
    padding: 12px;
  }
  
  .projets-slider-btn-icon {
    width: 16px;
    height: 16px;
  }
  
  .projets-slider-dots button {
    width: 20px;
    height: 20px;
    margin: 24px 4px;
  }
}


@media screen and (max-width : 425px){
  .carousel-image {
    height: 350px;
    width: 230px;
  }
}
