@import '../../index.css';


.Contact-page-Container{
    position: relative;
    z-index: 0;
    background-color: white;
}

.Contact-page-Container::before{
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/assets/projet-1.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0.15;
    z-index: -1;
}


.Contact-page-Section2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

.Contact-page-Section2 > h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2em;
    color: var(--color-primary-darken);
    text-align: center;
}

.Contact-page-Section2-Contact-Cards
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.Contact-page-Section2-Contact-Cards-Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 4rem 4rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Contact-page-Section2-Contact-Cards-Card > div{
    background-color: var(--color-primary-darken);
    padding: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact-paga-card-icon{
    width: 2.5rem;
    height: 2.5rem;
    color : white;
}


.Contact-page-Section2-Contact-Cards-Card > span{
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--color-primary-darken);
}

.Contact-page-Section2-Contact-Cards-Card > a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--color-primary-darken);
    padding: 1rem 2rem;
    border-radius: 1rem;
    
}

#map {
    min-width: 450px;
    height: 450px;
}

@media screen and (max-width: 768px) {
    #map {
        min-width: 350px;
        height: 350px;
    }

}
    


.contact-page-Section3-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    gap: 4rem;
}


.contact-page-highlight-main{
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-primary-darken);
}

@media screen and (max-width: 768px) {
    .contact-page-highlight-main{
        text-align: center;
    }
    
}

.Contact-page-apropos-text{
    flex: 1;
    align-self: flex-end;
    display: flex;  
    flex-direction: column;
    height: 100%;
    width: 100%;
}


.Contact-page-apropos-text > .text-header > p {
    font-size: 1.1rem;
    font-weight: 300;
    color: black;
}


.Contact-page-apropos-text > .text-header > p>span{
    font-weight: 600;
    color: var(--color-primary-darken);
}

.Contact-page-apropos-text > .text-header > .know-more-btn{
    background-color: var(--color-primary-darken);
    gap : 3rem;
    transition: all 0.3s ease-in-out;
}

.Contact-page-apropos-text > .text-header > .know-more-btn:hover{
    background-color: var(--color-seconday);
    gap : 5rem;
}


.Contact-page-Section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

.Contact-page-Section4 > h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2em;
    color: var(--color-primary-darken);
    text-align: center; 
}


.Contact-page-form-card{
    padding: 4rem 4rem;
    background-color: white;
    border-radius: 12px;
}

label {
    font-size: 0.875rem;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
  
.input-wrapper input,
.input-wrapper select {
    width: 100%;
    padding: 0.75rem 10rem 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #EFF0F6;
    color: black;
    border-radius: 0.5rem;
    background-color: white;
}
  
.input-wrapper .icon {
    position: absolute;
    right: 0.75rem;
    font-size: 1rem;
    pointer-events: none;
}
  
textarea {
    resize: none;
    width: 100%;
    height: 6rem;
    padding: 0.75rem;
    font-size: 1rem;
    border: 0.063rem solid #EFF0F6;
    border-radius: 0.5rem;
    background: #f9f9f9;
    color: black;
}
  
button {
    margin-top: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #1a1a1a;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }